<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bienvenida
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="bienvenida-card">
      <ion-card-header>
        <ion-card-subtitle>Aplicación de lista de la compra</ion-card-subtitle>
        <ion-card-title>Bienvenido a la aplicación de compras</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Use el menú lateral para acceder a su cesta de la compra y empezar a comprar.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
